:root {
    --rp-c-brand: #7d12ff;
    --rp-c-brand-dark: #661fbc;
    --rp-c-brand-light: #8839e9;
    --main-light-color: #f4f4f4;
    --secondary-light-color: #e3e3e3;
    --main-dark-color: #0f0b18;
    --rp-c-bg: light-dark(var(--main-light-color), var(--main-dark-color));
    --rp-home-feature-bg: light-dark(
        var(--secondary-light-color),
        var(--main-dark-color)
    );
    --rp-home-hero-name-background: -webkit-linear-gradient(
        120deg,
        var(--rp-c-brand-light) 30%,
        var(--rp-c-brand-dark),
        var(--rp-c-brand)
    );
    color-scheme: dark light;
}

body {
    background-image: url("https://raw.githubusercontent.com/gigapipehq/homepage/refs/heads/main/docs/public/header-bg-optimised-scaled-4.jpg");
    background-blend-mode: lighten;
    background-repeat: no-repeat;
 
}

img[alt*="Gigapipe"] {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

img[alt*="Founders"] {
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.6));
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }    
}

/* reduce top padding */
.md\:pt-16 {
    padding-top: 1rem;
}

/* span wider */
.rspress-doc {
    min-width: 95%;
}

/* no zoom on logo */
.medium-zoom-image {
    pointer-events: none;
}

/* title boost */
.md\:text-7xl {
    font-size: 5.1rem;
    line-height: 1;
}

/* Hero Tagline */
.rspress-home-hero-tagline {
    font-size: 1.4rem;
}

/* background on form only */
.rspress-doc:has(> form) {
    background-size: 100% auto;
    background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYWZ2eGpmNXZlMG1saGVvZmNybHFrdXp5M2duaXR6aXc5Y2h5bG1mZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/QuOR6K0dsrkdbHDiKM/giphy.webp);
}


