:root {
    --rp-c-brand: #7d12ff;
    --rp-c-brand-dark: #661fbc;
    --rp-c-brand-light: #8839e9;
    --main-light-color: #f4f4f4;
    --secondary-light-color: #e3e3e3;
    --main-dark-color: #0f0b18;
    --rp-c-bg: light-dark(var(--main-light-color), var(--main-dark-color));
    --rp-home-feature-bg: light-dark(
        var(--secondary-light-color),
        var(--main-dark-color)
    );
    --rp-home-hero-name-background: -webkit-linear-gradient(
        120deg,
        var(--rp-c-brand-light) 30%,
        var(--rp-c-brand-dark),
        var(--rp-c-brand)
    );
    --rp-sidebar-width: '150px';
    --rp-aside-width: '200px';
    color-scheme: dark light;
}

.text-primary{
    color: var(--rp-c-brand);
}

body {
    background-image: url("https://raw.githubusercontent.com/gigapipehq/homepage/refs/heads/main/docs/public/header-bg-optimised-scaled-4.jpg");
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    max-width: 100%;
}

img[alt*="Gigapipe"] {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

img[alt*="Founders"] {
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.6));
}



.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }    
}

/* reduce top padding */
.md\:pt-16 {
    padding-top: 1rem;
}

/* span wider */
.rspress-doc {
    min-width: 95%;
}

/* no zoom on logo */
.medium-zoom-image {
    pointer-events: none;
}

/* title boost */
.md\:text-7xl {
    font-size: 5.1rem;
    line-height: 1;
}

/* Hero Tagline */
.rspress-home-hero-tagline {
    font-size: 1.4rem;
}

/* gigapipey background on form only */
.rspress-doc:has(> form) {
    background-size: 100% auto;
    background-image: url(https://i.imgur.com/MAlOMOW.gif);
}

/* div[class^='sidebar'],div[class^='.sidebar'] {
    opacity: 0;
}

.rspress-sidebar {
    opacity: 0;
} */

.custom-spacer {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='482' fill='none' viewBox='0 0 1440 482'%3E%3Cpath stroke='%23A020F0' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M-50 200c150-100 300 100 450 50s300-150 450-100 300 200 450 150 300-100 450-50'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
}

.custom-content {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='482' fill='none' viewBox='0 0 1440 482'%3E%3Cpath stroke='%23A020F0' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M-50 200c150-100 300 100 450 50s300-150 450-100 300 200 450 150 300-100 450-50'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    flex:1;
     margin-left: auto;
     margin-right: auto;
     gap: 2rem;
     margin-bottom: 2rem;
 
}

.custom-content .body {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
}

.custom-content img[alt*="qryn_cloud"] {
    margin-top: 50px;
    filter: drop-shadow(3px 3px 3px #4444dd);
    margin: 0 auto;
    justify-self: center;
    align-self: center;
}

.custom-content h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    flex:1;
    
}

.custom-content h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.custom-content h3 {

    font-size: 1.15rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.custom-content p {
    max-width: 105ch;
}

.custom-footer {
    padding: 10px 10%;
}

.rspress-doc-container {
    max-width: 100%;
}

.pb-12 {
    padding-bottom: 10px;
}

.md\:pb-16 {
    padding-bottom: 1rem;
}

.img_small {
   height: 50px;
}

.img_inline {
   display: inline-block;
}

.rspress-doc-footer {
   padding: 0px 10% !important;
}


@media screen and (min-width: 1279px) {
    p { max-width: 56vw;}
    .about {
        width: 56vw;
        height: calc(90vw * 0.4);
        border: none;
        outline: none;
    }
}

@media screen and (min-width: 1024px) {
    p { max-width: 70vw;}
    .about {
        width: 55vw;
        height: calc(90vw * 0.4);
        border: none;
        outline: none;
    }
}

@media screen and (min-width: 768px) {
    p { max-width: 80vw;}
    .about {
        width: 62vw;
        height: calc(90vw * 0.4);
        border: none;
        outline: none;
    }
}

iframe {
    width: 100%;
}

